* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  text-align:justify
}

header {
  padding: 0px;
  margin-top: 10px;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

h1 { 
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 72px;
  font-family: 'Amatic SC', cursive;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 160%;
}

main {
  margin: 0 20%;
}

.collapsible {
  cursor: pointer;
  display: block;
  background-color: #ffffff;
  padding: 0px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-top: 4px;
  font-weight:bold;
  
}

.collapsible:after {
  content: '\002B';
  color: #000000;
  font-weight: bold;
  float: right;
  margin-right: 12px;
}

.collapsible:hover {
  color: rgb(251, 158, 57);
}

.collapsible.active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 0px 0px;
  max-height: 0;
  text-align:justify;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  color:#616161;
  font-weight:30;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 12px;
}



p.exp-period { 
  font-size: 12px;
  color: gray
}

.collapsible-content img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.column {
  flex: 1;
  max-width: 400px;
  
  padding: 16px;
  min-width: calc(100% / 4); /* 최소 너비를 페이지 너비의 1/4로 설정합니다. */
  margin-bottom: -8px;
  margin-right: 0px; /* 카드들 사이의 수직 간격을 추가합니다. */
}

.column ul {
  list-style-type: none;
}

.column li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgb(88, 148, 134);
  transition: color 0.5s; /* 컬러 변화에 0.3초간의 transition 효과 적용 */
}

a:hover {
  color: rgb(251, 158, 57);
}


.post-box {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  padding: 0px;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
  margin-bottom: 10px;
  border-radius: 8px;
  display: inline-block;
  white-space: normal;
  transition: transform 0.3s ease;
  text-align: left;
  height: 100%;
}

.post-box:hover {
  transform: translateY(-10px);
}

h4.box-title {
  color: grey;
  font-family: Mohave, regular;
  font-size: 12px;
  margin-bottom: 4px;
}


.scroll-row {
  display: flex;
  flex-wrap: wrap; /* 여러 줄에 걸쳐서 나타나도록 설정합니다. */
  justify-content: center;
  overflow-x: hidden;
}

.collapsible-date {
  display: block;
  color: #888;
  font-size: 14px;
  margin-top: 0px;
}


body {
  /* 기존 스타일 코드들은 그대로 유지하고 아래 한 줄을 추가하세요 */
  padding-bottom: 50px; /* 원하는 여유 공간 크기로 조절하세요 */
}



/*blog*/
/* 포스트 페이지 */
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.post img {
  width: 100%;
  margin-bottom: 30px;
}

.post h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.post p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.post a {
  color: #2196F3;
}

.post a:hover {
  text-decoration: underline;
}



/* 블로그 페이지 */
.blog {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.blog .toc {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #2196F3;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.blog .toc:hover {
  background-color: #0c7cd5;
}

.blog .toc i {
  font-size: 24px;
}

.blog .toc.active + .toc-content {
  display: block;
}

.blog .toc-content {
  display: none;
  position: fixed;
  top: 110px;
  right: 50px;
  width: 200px;
  padding: 20px;
  background-color: #fff;
 /* /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  z-index: 1;
}

.blog .toc-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .toc-content a {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(88, 148, 134);
}

.blog .toc-content a:hover {
  text-decoration: underline;
}

/*#table-of-contents {
  text-align: center;
  margin-bottom: 12px;
}*/


/*
.post-title {
  position:absolute;
  display: inline-block;
  width: 200px; /* 타원의 가로 크기 */
  height: 100px; /* 타원의 세로 크기 */
  /*background-color: rgba(255, 255, 255, 0.5); 
  text-align: center;
}

.post-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1.5rem; 
  font-weight: bold;
  color: #333; 
}

.ellipse {
  background-color: rgba(242, 182, 182, 0.3);
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(-50%);
  transition: background-color 0.5s ease-in-out;
}

.ellipse:hover {
  background-color: rgb(155, 197, 255);
}

.ellipse:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
}

.ellipse:hover::before::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.ellipse:hover::before {
  opacity: 1;
}

.ellipse h3 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -80%;
  left: 50%;
  margin-left: -50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.ellipse:hover .tooltip {
  visibility: visible;
  opacity: 1;
}*/

#post1 h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
}



.month {
  width: calc(100% / 12);
  text-align: center;
  padding: 20px;
  border-right: 1px solid black;
  box-sizing: border-box;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.highlight-month {
  background-color: #3b6fa8;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 10px 4px;
  color: #ffffff;
  font-weight: bold;
}


/*gallary*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px; /* 좌우 여백 10px, 상하 여백 10px */
}


.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gallery img {
  width: 100%;
  min-width: 100px;
  max-width: 500px;
  min-height: 100px;
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
}

.caption {
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 1000px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.modal-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.modal-caption {
  color: white;
  margin-top: 10px;
  text-align: center;
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  /* Add your mobile-specific styles here */
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Add your tablet-specific styles here */
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  /* Add your desktop-specific styles here */
}
/* Mobile styles */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    margin: 10px;
  }
}
