* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  text-align:justify
}

header {
  padding: 20px;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

h1 { 
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 68px;
  font-family: 'Amatic SC', cursive;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 160%;
}

main {
  margin: 0 20%;
}

.collapsible {
  cursor: pointer;
  display: block;
  background-color: #ffffff;
  padding: 0px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-top: 4px;
  font-weight:bold;
  
}

.collapsible:after {
  content: '\002B';
  color: #000000;
  font-weight: bold;
  float: right;
  margin-right: 12px;
}

.collapsible:hover {
  color: #ffdc72;
}

.collapsible.active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 0px 0px;
  max-height: 0;
  text-align:justify;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  color:#616161;
  font-weight:30;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 12px;
}



p.exp-period { 
  font-size: 12px;
  color: gray
}

.collapsible-content img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.column {
  flex: 50%;
  padding-right: 20px;
  text-align:left;
  flex: 0 0 36%; /* 박스의 너비를 고정하기 위해 flex-basis 값을 설정해줍니다. */
  
}

.column ul {
  list-style-type: none;
}

.column li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: underline;
}

.post-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 8px;
  display: inline-block;
  white-space: normal;
  transition: transform 0.3s ease;

}
.post-box:hover {
  transform: translateY(-10px);
}

h4.box-title {
  color: grey;
  font-family: Mohave, regular;
  font-size: 12px;
  margin-bottom: 4px;
}

.scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  width: 100%;
  scrollbar-width: thin;
}

.collapsible-date {
  display: block;
  color: #888;
  font-size: 14px;
  margin-top: 0px;
}


body {
  /* 기존 스타일 코드들은 그대로 유지하고 아래 한 줄을 추가하세요 */
  padding-bottom: 50px; /* 원하는 여유 공간 크기로 조절하세요 */
}


/*blog*/

#post1 {
  margin-bottom: 20px;
}
.toc-toggle:before {
  content: "+";
  display: block;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}
